<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.android.sample.feature.list">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_list">
        <dist:fusing dist:include="false"/>
    </dist:module>

</manifest>